* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  background-color: #f4f9ff;
  box-sizing: border-box;
}

.topnav {
  top: 0;
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 80px;
  background-color: white;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.active {
  width: 113.25px;
  height: 23.69px;

  top: 65px;
  background-color: transparent;
}

.icon {
  width: 113.25px;
  height: 23.69px;
  position: absolute;
  text-decoration: none;
  right: 0;
  background-color: transparent;
  color: #8a8aa0;
}

#myLinks {
  display: none;
}

a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  text-align: center;
}

a.icon {
  background: white;
  color: #8a8aa0;
  right: 0;
  top: 0;
  text-decoration: none;
}

a:hover {
  background-color: white;
  color: #e1004d;
}

.container {
  position: relative;
  text-decoration: none;
  max-width: 380px;
  width: 100%;
  margin: 0px auto;
  top: 100px;
  padding: 0px 16px 80px;
}

.card {
  max-width: 1024px;
  margin: 0px auto;
  padding-top: 5px;
  width: 345px;
  background-color: white;
  height: 505px;
  top: 129px;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.title {
  left: 40px;
  background-color: white;
  position: absolute;

  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  /* Main */

  color: #201a1c;
}

.idr {
  left: 40px;
  background-color: white;
  position: absolute;
  text-decoration: none;
  top: 30px;

  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */

  color: #309a8d;
}

form {
  background-color: white;
  text-decoration: none;
}

.txtNominal {
  left: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;

  position: absolute;
  width: 283px;
  height: 54px;
  margin-top: 75px;

  /* Grey2 */
  background-color: white;
  border: 1px solid #c6c6d4;
  box-sizing: border-box;
  border-radius: 12px;
}

.nom1 {
  background-color: white;
  position: absolute;
  text-align: center;
  width: 95px;
  height: 47px;
  left: 30px;
  top: 140px;

  border: 1px solid #8a8aa0;
  box-sizing: border-box;
  border-radius: 12px;
}

.nom2 {
  background-color: white;
  position: absolute;
  text-align: center;
  width: 88px;
  height: 47px;
  left: 130px;
  top: 140px;

  border: 1px solid #8a8aa0;
  box-sizing: border-box;
  border-radius: 12px;
}

.nom3 {
  background-color: white;
  position: absolute;
  text-align: center;
  width: 89px;
  height: 47px;
  left: 225px;
  top: 140px;

  border: 1px solid #8a8aa0;
  box-sizing: border-box;
  border-radius: 12px;
}

.metodP {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;

  color: #8a8aa0;
  position: absolute;
  width: 285px;
  height: 54px;
  left: 30px;
  top: 195px;

  /* Grey2 */

  border: 1px solid #c6c6d4;
  box-sizing: border-box;
  border-radius: 12px;
}

.txtName {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;

  position: absolute;
  width: 285px;
  height: 54px;
  left: 30px;
  top: 260px;

  /* Grey2 */

  border: 1px solid #c6c6d4;
  box-sizing: border-box;
  border-radius: 12px;
}

.txtEmail {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;

  position: absolute;
  width: 285px;
  height: 54px;
  left: 30px;
  top: 323px;

  /* Grey2 */

  border: 1px solid #c6c6d4;
  box-sizing: border-box;
  border-radius: 12px;
}

.identity {
  background-color: white;
  position: absolute;
  width: 206px;
  height: 16px;
  left: 38px;
  top: 383px;

  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;

  /* Grey */

  color: #8a8aa0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  left: 250px;
  top: 380px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.btnDonate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px;

  position: absolute;
  width: 215px;
  height: 46px;
  left: calc(50% - 215px / 2 - 48px);
  top: 425px;

  color: white;
  background: #e1004d;
  border-radius: 12px;
}

.btnShare {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px;

  position: absolute;
  width: 66px;
  height: 46px;
  left: calc(50% - 66px / 2 + 100.5px);
  top: 425px;

  border: 1px solid #e1004d;
  box-sizing: border-box;
  border-radius: 12px;
}

.about {
  text-decoration: none;
  width: 340px;
  margin: 15px auto;
  height: 170px;
  left: auto;

  font-family: Nunito;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  /* Main */

  color: #201a1c;
}

.txt {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.donater {
  text-decoration: none;
  width: 340px;
  margin: 0px auto;
  height: 205px;
  left: auto;

  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  /* Main */

  color: #201a1c;
}

.listDonater {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  text-decoration: none;
  position: absolute;
  margin-left: auto;
  margin-top: auto;
}

.nDonater {
  position: absolute;
  width: 83px;
  height: 19px;
  left: 70px;
  top: 2px;

  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  display: flex;
  align-items: center;

  /* Main */

  color: #201a1c;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}

.pDonater {
  position: absolute;
  width: 67px;
  height: 19px;
  left: 70px;
  top: 19px;

  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  display: flex;
  align-items: center;

  /* Accent */

  color: #34a898;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 0px;
}

.nDonater2 {
  position: absolute;
  width: 83px;
  height: 19px;
  left: 70px;
  top: 45px;

  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  display: flex;
  align-items: center;

  /* Main */

  color: #201a1c;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}

.pDonater2 {
  position: absolute;
  width: 67px;
  height: 19px;
  left: 70px;
  top: 60px;

  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  display: flex;
  align-items: center;

  /* Accent */

  color: #34a898;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 0px;
}

.nDonater3 {
  position: absolute;
  width: 83px;
  height: 19px;
  left: 70px;
  top: 85px;

  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  display: flex;
  align-items: center;

  /* Main */

  color: #201a1c;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}

.pDonater3 {
  position: absolute;
  width: 67px;
  height: 19px;
  left: 70px;
  top: 100px;

  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  display: flex;
  align-items: center;

  /* Accent */

  color: #34a898;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 0px;
}

.nDonater4 {
  position: absolute;
  width: 83px;
  height: 19px;
  left: 70px;
  top: 130px;

  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  display: flex;
  align-items: center;

  /* Main */

  color: #201a1c;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}

.pDonater4 {
  position: absolute;
  width: 67px;
  height: 19px;
  left: 70px;
  top: 150px;

  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  display: flex;
  align-items: center;

  /* Accent */

  color: #34a898;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 0px;
}

.list-program {
  position: absolute;
  width: 343px;
  height: 22px;
  left: auto;
  top: 940px;

  font-family: Nunito;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  /* Main */

  color: #201a1c;
}

.btnAll {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;

  position: absolute;
  width: 159px;
  height: 40px;
  left: calc(50% - 159px / 2);
  top: 340px;

  /* Primary */

  border: 1px solid #e1004d;
  box-sizing: border-box;
  border-radius: 12px;
}

.btnAll p {
  text-align: center;
  width: 121px;
  height: 16px;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;

  /* Primary */

  color: #e1004d;
}

.mitra {
  text-decoration: none;
  width: 340px;
  margin: auto;
  height: 405px;
  top: 2420px;
  left: auto;

  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  /* Main */

  color: #201a1c;
}
